<wo:WCLook>
	<div class="row">
		<div class="col-6 mb-3">
			<div class="card">
				<div class="card-body">
					<wo:form>
						<label>Search string</label>
						<wo:textfield value="$searchString" class="form-control mb-3" />

						<label>Channel</label>
						<wo:popUpButton list="$channels" item="$currentChannel" selection="$selectedChannel" displayString="$currentChannel.name" noSelectionString="All channels..." class="form-select mb-3" />

						<label>User</label>
						<wo:popUpButton list="$users" item="$currentUser" selection="$selectedUser" displayString="$currentUser.name" noSelectionString="All users..." class="form-select mb-3" />
						
						<wo:submit action="$search" class="btn mt-3" value="Search again" />
					</wo:form>
				</div>
			</div>
		</div>
	</div>

	<wo:if condition="$errorMessage.length">
		<div class="alert alert-red" style="width: 500px;">
			<wo:str value="$errorMessage" />
		</div>
	</wo:if>

	<wo:if condition="$errorMessage.length" negate="$true">
		<div class="row">
			<div class="col-md-9">
				<div class="card">
					<div class="card-header">
						<h3>Search results</h3>
					</div>
					<div class="card-body">
						<wo:repetition list="$messages" item="$currentMessage">
							<p>
							<span class="badge bg-azure text-azure-fg">#<wo:str value="$currentMessage.channel.name" /></span><br>
							<strong><wo:str value="$currentMessage.user.name" /></strong> <small style="color:gray"><wo:str value="$currentMessage.dateTime" /></small><br>
							<wo:str value="$currentMessage.textRendered" escapeHTML="$false" /><br>
							</p>
						</wo:repetition>
					</div>
				</div>
			</div>
		</div>
	</wo:if>
</wo:WCLook>