<wo:WCLook>
	<div class="row">
		<div class="col-md-8">
			<wo:repetition list="$articles" item="$currentArticle">
				<div class="card mb-3">
					<div class="card-header dark-card-header">
						<h3 class="card-title">
							<wo:link href="$currentArticleURL"><wo:str value="$currentArticle.title" /></wo:link>
						</h3>
						<div class="card-actions">
							<small><wo:str value="$currentArticle.formattedDate" /></small>
						</div>
					</div>
					<div class="card-body">
						<wo:str value="$currentArticle.contentAsHTML" escapeHTML="$false" />
						<wo:if condition="$isLocal">
							<hr />
							<wo:link action="$editArticle" class="btn btn-primary">Edit</wo:link>
						</wo:if>
					</div>
				</div>
			</wo:repetition>
		</div>
		<div class="col-md-4">
			<wo:WCSidebar />
		</div>
	</div>
</wo:WCLook>