<wo:WCLook>
	<div class="row">
		<div class="col-md-8">
			<wo:repetition list="$articles" item="$currentArticle">
				<div class="card mb-3">
					<div class="card-header">
						<h3 class="card-title">
							<wo:str value="$currentArticle.title" /><br>
							<small style="display; inline-block; margin-left: 10px; color: gray"><wo:str value="$formattedDate" /></small>
						</h3>
						<wo:if condition="$isLocal">
							<div class="card-actions">
								<wo:link action="$editArticle" class="btn btn-primary">Edit</wo:link>
							</div>
						</wo:if>
					</div>
					<div class="card-body">
						<wo:str value="$currentArticle.contentAsHTML" escapeHTML="$false" />
					</div>
				</div>
			</wo:repetition>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">What's this?</h3>
				</div>
				<div class="card-body">
					<p>Documentation forthcoming™</p>
				</div>
			</div>
		</div>
	</div>
</wo:WCLook>