<wo:WCLook>
	<div class="row">
		<div class="col-md-8">
			<div class="card mb-3">
				<div class="card-header dark-card-header">
					<h3 class="card-title">
						<wo:str value="$selectedObject.title" />
					</h3>
					<div class="card-actions">
						<small><wo:str value="$selectedObject.formattedDate" /></small>
					</div>
				</div>
				<div class="card-body">
					<wo:str value="$selectedObject.contentAsHTML" escapeHTML="$false" />
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<wo:WCSidebar />
		</div>
	</div>
</wo:WCLook>